<nav class="navbar navbar-default">
  <div class="containe-fluid">
    <div class="navbar-header">
      <a  class="navbar-brand"    href="#"  routerLink="/">
        {{title}}
      </a>
      <ul class="nav navbar-nav">
        <li><a href="#" routerLink="/jobs">offres</a></li>
        <li><a href="#" routerLink="/jobs/add">creer une offre</a></li>
        <li><a href="#" routerLink="/about">about us</a></li>
        <li><a href="#" routerLink="/login" *ngIf="!authService.userIsLoggedIn()">Sign In</a></li>
        <li><a href="#" (click)="authService.logOut()" *ngIf="authService.userIsLoggedIn()">logout</a></li>
        <li *ngIf="!authService.userIsLoggedIn()"><a href="#" class="" routerLink="/register">créer un compte</a></li>
        <li><a href="#" routerLink="/profile"  *ngIf="authService.userIsLoggedIn()">profile</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
